/* Landing.css */
.logo {
    height:auto;
    width: 400pt;
}

.dice {
    position: absolute;
    top:0px;
}

.dice> :nth-child(1) {
    position: absolute;
    top: 100px;
    right: 400px;
}

.dice> :nth-child(2) {
    position: absolute;
    top: 50px;
    left: 150px;
}

.dice> :nth-child(3) {
    position: absolute;
    top: 400px;
    right: 200px;
}

.dice> :nth-child(4) {
    position: absolute;
    top: 350px;
    left: 350px;
}

.bold-words {
    color: #6f8d47;
    font-weight: bold;
    font-size: 24px;
    /* Adjust size as needed */
}