.footer {
  border-top: 1px solid #dadada;
  padding: 15px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* Ensure columns are in a row */
}

.column {
  flex: 1;
  width: 33%;
  /* Each column should take up equal space */
  padding: 0 10px;
}

.column p {
  font-size: 10pt;
}

.column a {
  font-size: 10pt;
  display: block;
}

.footer-instagram {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  .footer-instagram {
    justify-content: center;
  }
  .column {
    width: 100%;
  }
}
