.footer {
    border-top: 1px solid #dadada;
    height: 30px; /* Adjust height as needed */
    padding: 5px;
    margin: 0 5px;
    display: flex;
    text-decoration: none;
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
  }
  
  .footer p {
    font-size: 12pt;
  }