@import url('./fonts/fonts.css');

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'PurpleFont', sans-serif;
  font-size: 100px;
  letter-spacing: 10px;
  background: linear-gradient(to bottom, #44ff33, #0d5d96);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-size: 120%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  background-color: #8BA668;
  color: white;
  font-weight: 600;
  border: none;
  transition: transform 0.3s ease;
  padding: 10px;
  border-radius: 5pt;
}

button:hover {
  transform: scale(1.1);
}

input {
  transition: transform 0.3s ease;
  padding: 5px;
  border-radius: 5pt;
  background-color: #e1e1e1;
  border: none;
  width: fill;
}

a {
  font-size: 12pt;
  text-decoration: none;
  color: #6f8d47;
  font-weight: 700;
}

p {
  color: #555555;
  font-size: 14pt;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: #555555;
  font-size: 13pt;
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 10vw;
  text-align: center;
}

@media (max-width: 768px) {
  .App-header {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.App-header2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: #DEE9D3;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media (max-width: 768px) {
  .App-header2 {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}