.link {
    transition: transform 0.2s ease-in-out;
}

.link:hover {
    transform: scale(1.1);
}

.boba-container {
    display: block;
    /* Display by default */
}

/* Media query for screens larger than 768px (typically tablets and desktops) */
@media (min-width: 768px) {
    .boba-container {
        display: none;
        /* Hide Boba on screens larger than 768px */
    }
}